<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: violet; padding: 16px;">
      <%#= link_to 'texto', prefixo_da_rota_path  %>
      <p><%= link_to 'Know more about us', about_path %></p>
      <p><%= link_to 'Meet our teachers', contact_path %></p>
      <form action="/contact" method="get">
        <input type="text" name="teacher" placeholder="Who are you looking for?" value="<%= params[:teacher] %>">
        <input type="text" name="message" placeholder="Send the teacher a msg?" value="<%= params[:message] %>">
        <input type="submit">
      </form>
    </div>
    <%= yield %>
  </body>
</html>
